# 填入你的 API Key 后自动切换到真实 Qwen 模型（可选）

# LLM_API_KEY=b92c45e2-c465-403f-a50f-514ef6ac83a9
LLM_API_KEY=

# LLM_MODEL=doubao-seed-1-6-lite-251015
LLM_MODEL=

# LLM_API_BASE=https://ark.cn-beijing.volces.com/api/v3
LLM_API_BASE=

# LLM_MAX_TOKENS=8192

LLM_CONTEXT_WINDOW=1000000

LANGSMITH_API_KEY=

# .env 里二选一
TAVILY_API_KEY=tvly-xxxxx       # 自动挡
# 或
SERPER_API_KEY=xxxxx            # 手动挡

GITHUB_PERSONAL_ACCESS_TOKEN=
